header {width: 100%; height: auto; margin: 0 auto; background-color: #d5d5d5; float: left;}

#logo {float: left; padding-top: 15px; padding-left: 10px; cursor: pointer;}

nav {float:right;}
nav ul li {float: left; width: auto; height: 50px; padding: 0px 20px; padding-top: 11px; cursor: pointer; transition: .3s ease-in-out; text-align: center; border-left: 1px solid #010912;}
nav ul li:hover {background-color: #010912;}
nav ul li:hover a {color: #fff;}
nav ul li a {color: #000; font-size: 11.5px; transition: .3s ease-in-out}

footer {width: 100%; height: 400px; margin: 0 auto; padding-top: 325px; background-color: #010912; float: left; text-align: center; color: #d5d5d5; font-family: "Pretendard-Thin";}