@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

#wrap {width: 100%; height: 3000px; margin: 0 auto; background-color: #d5d5d5; float: left; position: relative;}

#sound {width: 100%; height: auto; margin: 0 auto; float: left; position: relative; background-color: #d5d5d5;}
#sound h1 {color: #fff; font-weight: 300; font-size: 3.5rem; text-align: center; position: absolute; top: 370px; left: 0; right: 0;}
.sbtn {width: 150px; height: 50px; margin: 0 auto; text-align: center; color: #fff; background-color: #2970cd; position: absolute; cursor: pointer; padding-top: 12px; top: 625px; left: 0; right: 0; transition: .3s ease-in-out;}
.sbtn:hover {background-color: #d5d5d5; color: #000;}

#i_box {width: 1140px; height: 220px; margin: 0 auto; position: absolute; top:-115px; left: 0; right: 0; box-shadow: 0.2px 0.2px 20px 0.2px rgb(0, 0, 0);;}

.i_t_box {width: 380px; height: 220px; margin: 0 auto; float: left; text-align: center; line-height: 1.5; background-color: #010912; transition: .3s ease-in-out; padding-top: 15px; color: #fff;}
.i_t_box img {filter: invert(1);}
.i_t_box:nth-of-type(2) {border-left: 1px solid #000;}
.i_t_box:nth-of-type(3) {border-left: 1px solid #000;}
.i_t_box:hover {background-color: #2970cd;}


#a_box {width: 1140px; height: 300px; margin: 0 auto; display: flex; margin-top: 200px;}

.a_left {width: 50%; height: 300px; float: left; padding-top: 55px; transition: .3s ease-in-out;}
.a_left:hover {color: #2970cd;}
.a_left:hover .abtn {color: #2970cd;}
.abtn {font-size: 1.5rem; font-weight: bold; cursor: pointer; transition: .3s ease-in-out;}

#b_box {width: 1140px; height: 300px; margin: 0 auto; display: flex; margin-top: 100px;}
.b_left {width: 50%; height: 300px; float: right; padding-right: 50px;}
.b_left img {width: 100%; height: 300px;}
.b_right {width: 50%; height: 300px; float: left; padding-top: 55px; transition: .3s ease-in-out;}
.b_right:hover {color: #2970cd;}
.b_right:hover .abtn {color: #2970cd;}

.a_right {width: 50%; height: 300px; float: right; padding-left: 50px;}
.a_right img {width: 100%; height: 300px;}

#b_i_box {width: 100%; height: 600px; background-image: url(../img/background.jpg); background-position: center;
    background-attachment: fixed; margin-top: 100px; float: left; text-align: center; color: #fff; padding-top: 75px;}
#b_i_box h1 {font-weight: lighter; font-size: 3rem;}
#b_i_box h2 {font-weight: lighter;}

.b_box {width: 1140px; height: 240px; margin: 0 auto; margin-top: 100px;}
.b_box li {width: 360px; height: 220px; margin: 10px; float: left; text-align: center;}
.b_box img {border-radius: 50%;}

#here {width: 100%; height: 400px; margin: 0 auto; float: left;}

#carrer {width: 100%; height: 400px; padding-top: 100px; background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../img/here.jfif); float: left; background-position: top; text-align: center;}
.cbtn {width: 280px; height: 50px; margin: 0 auto; margin-top: 40px; padding-top: 12.5px; text-align: center; color: #fff; background-color: #2970cd; cursor: pointer; transition: .3s ease-in-out;}
.cbtn:hover {background-color: #d5d5d5; color: #000;}