@media (min-width:1140px){

#wrap {width: 100%; height: auto; margin: 0 auto; background-color: #d5d5d5;}

.a ul li:nth-of-type(3) {background-color: #010912;}
.a ul li:nth-of-type(3) a {color: #d5d5d5;}

#slider {width: 100%; height: 400px; margin: 0 auto; background: url(../img/sub_slider.png); background-size: cover;}

#t_box {width: 1140px; height: 200px; margin: 0 auto; text-align: center; padding: 50px; background-color: #efefef; margin-top: 25px; margin-bottom: 25px;}

#m_box {width: 1140px; height: 720px; margin: 0 auto; margin-bottom: 25px;}

.m_i_box {width: 40%; height: 720px; overflow: hidden; float: left; position: relative;}
.m_i_box img {width: 100%; height: 720px; filter: brightness(60%); transition: 1.5s;}
.m_i_box img:hover {filter: brightness(100%); transform: scale(1.05);}
.m_i_text {position: absolute; width: 100%; height: auto; background-color: rgba(0, 0, 0, 0); bottom: 0; z-index: 1; color: #fff; padding: 7.5%;}
.m_i_text p {color: #2970cd; font-size: 13px; font-weight: bold;}
.m_i_text h2 {font-weight: normal;}
hr {border: 1px dashed #fff; width: 3em; margin: .5em 0 1em;}
.mbtn {float: left; text-align: center; color: #fff; background-color: #2970cd; cursor: pointer; padding: 3%; transition: .4s ease-in-out;}
.mbtn:hover {background-color: #d5d5d5; color: #000;}

.m_t_box {width: 57.8%; float: left; padding: 3%; background-color: #efefef; transition: .3s; margin-left: 25px; position: sticky; top: 25px;}
.m_t_box:hover {background-color: #010912; color: #fff;}
.m_t_box img {width: 100%;}
.m_t_box h4 {color: #2970cd;}

#m_box2 {width: 1140px; height: 720px; margin: 0 auto; margin-bottom: 25px;}

.m_i_box2 {width: 40%; height: 720px; overflow: hidden; float: left; position: relative;}
.m_i_box2 img {width: 100%; height: 720px; filter: brightness(60%); transition: 1.5s;}
.m_i_box2 img:hover {filter: brightness(100%); transform: scale(1.05);}
.m_i_text2 {position: absolute; width: 100%; height: auto; background-color: rgba(0, 0, 0, 0); bottom: 0; z-index: 1; color: #fff; padding: 7.5%;}
.m_i_text2 p {color: #2970cd; font-size: 13px; font-weight: bold;}
.m_i_text2 h2 {font-weight: normal;}

.m_t_box2 {width: 57.8%; float: left; padding: 3%; background-color: #efefef; transition: .3s; margin-right: 25px; position: sticky; top: 25px;}
.m_t_box2:hover {background-color: #010912; color: #fff;}
.m_t_box2 h4 {color: #2970cd;}

.sbtn {width: 150px; height: 50px; float: left; text-align: center; color: #fff; background-color: #2970cd; cursor: pointer; padding-top: 12.5px; transition: .4s ease-in-out;}
.sbtn:hover {background-color: #d5d5d5; color: #000;}

.ubtn {float: left; text-align: center; color: #2970cd; border: 2px solid #2970cd; cursor: pointer; font-weight: bold; padding: 2.5%;}

.cbtn {float: left; text-align: center; color: #fff; border: 2px solid #fff; cursor: pointer; font-weight: bold; padding: 3%; transition: .4s ease-in-out;}
.cbtn:hover {color: #2970cd; border: 2px solid #2970cd;}

#ti_box {width: 1140px; height: auto; margin: 0 auto;}

.ti_u_box {width: 1140px; height: 171px; margin: 0 auto; background-color: #010912; margin-bottom: 25px; color: #efefef; transition: .3s ease-in-out;}
.ti_u_box:hover {background-color: #000; box-shadow: 0.2px 0.2px 10px 0.2px rgba(0, 0, 0, 0.5);}
.ti_u_box:hover img {filter: brightness(100%);}
.ti_u_box img {width: 100%; height: 171px; filter: brightness(60%); transition: .3s ease-in-out;}

.ti_u_box li {float: left; cursor: pointer; border-right: 2px solid #2970cd; transition: .3s ease-in-out;}
.ti_u_box li:nth-of-type(1) {width: 5%; height:  171px; text-align: center; padding-top: 62.5px;}
.ti_u_box li:nth-of-type(2) {width: 15%; height: 171px;}
.ti_u_box li:nth-of-type(3) {width: 40%; height: 171px; padding: 30px;}
.ti_u_box li:nth-of-type(4) {width: 15%; height: 171px; padding-top: 75px; text-align: center;}
.ti_u_box li:nth-of-type(5) {width: 25%; height: 171px; padding-top: 60px; border: 0px;}

.blue {color: #2970cd; font-size: 12px;}

.tbtn {width: 150px; height: 50px; margin: 0 auto; text-align: center; color: #fff; background-color: #2970cd; cursor: pointer; padding-top: 12.5px; transition: .3s ease-in-out;}
.tbtn:hover {background-color: #d5d5d5; color: #000;}

#v_box {width: 100%; height: 250px; margin: 0 auto;}
.v_u_box {width: 1140px; height: 250px; margin: 0 auto;}
.v_u_box li:hover {box-shadow: 0.2px 0.2px 10px 0.2px rgba(0, 0, 0, 0.5);}
.v_u_box li {width: 31%; height: 250px; margin: 0px 12.5px; background-color: #000; float: left; padding-top: 62.5px; transition: .3s ease-in-out;}
.v_u_box li:nth-of-type(1) {background-image: url(../img/tb_1.webp); background-size: 100% 85%; background-position: center; background-repeat: no-repeat;}
.v_u_box li:nth-of-type(2) {background-image: url(../img/batman.webp); background-size: 100% 85%; background-position: center; background-repeat: no-repeat;}
.v_u_box li:nth-of-type(3) {background-image: url(../img/tb3.webp); background-size: 100% 85%; background-position: center; background-repeat: no-repeat;}
.v_round {width: 125px; height: 125px; margin: 0 auto; background-color: #808487; border-radius: 50%; padding-left: 30px; padding-top: 25px; cursor: pointer; border: 2px solid #2970cd; transition: .3s ease-in-out; opacity: 0.75;}
.v_round:hover {transform: scale(1.1); opacity: 1;}

#c_t_box {width: 1140px; height: 345px; margin: 0 auto; margin-top: 25px; display: flex; justify-content: space-between;}
#c_t_box h1 {font-size: 2.4em;}
.conte-1 {width: 48.75%; height: 320px; background-image: url(../img/disney.jpg); background-size: cover; color: #fff; padding: 1.5%;}
.conte-2 {width: 48.75%; height: 320px; background-image: url(../img/sub_slider.png); background-size: cover; color: #fff; padding: 1.5%;}

.conte-1 a {text-decoration: underline; color: #fff; transition: .4s ease-in-out; font-weight: bold;}
.conte-1 a:hover {color: #2970cd;}

.conte-2 a {color: #fff; transition: .4s ease-in-out; font-weight: bold;}
.conte-2 a:hover {color: #2970cd;}
}